<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/10.png') }}" alt="Hallway to east wing" usemap="#image-map">
    
    <map name="image-map">
        <area target="_self" class="down" alt="Back" title="Back" href="javascript:void(0)" onclick="showBack()" coords="20,3388,5699,4255" shape="rect">
        <area target="_self" class="up" alt="Hallway to Jittery Joe's" href="{{ url_for('eleven_a') }}" coords="1899,968,3550,2304" shape="rect">
    </map>
    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();
        
        dialogue = ["I should keep going forward to "];

        function showStudy() {
            let newSentences = ["Wrong way!"];
            addDialogue(newSentences);
        }

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>