<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/11b.png') }}" alt="Hallway going to exit + elevators on the right"
        usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="right" title="Elevator Lobby" href="{{ url_for('fourteen_with_janitor') }}"
            coords="3508,11,4268,5691" shape="rect">
        <area target="_self" class="up" alt="Hallway" title="Almost to Jittery Joe's" href="{{ url_for('twelve') }}"
            coords="989,1248,3140,3895" shape="rect">
    </map>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        dialogue = [];

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>