<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/13-lr.png') }}" alt="Path to elevators" usemap="#image-map">
    
    <map name="image-map">
        <area target="_self" class="up" alt="Restrooms" title="Restrooms" href="javascript:void(0)" onclick="showRestroom()" coords="2210,764,3787,2842" shape="rect">
        <area target="_self" class="left" alt="Left" title="Hallway" href="{{ url_for('thirteen_left_with_janitor') }}" coords="11,7,657,4263" shape="rect">
        <area target="_self" class="right" alt="12" title="Hallway to Jittery Joe's" href="{{ url_for('twelve') }}" coords="4931,16,5699,4271" shape="rect">
    </map>
<div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        dialogue = [];

        function showRestroom() {
            let newSentences = ["There's nothing interesting in the restrooms."];
            addDialogue(newSentences);
        }

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>