<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/13-r.png') }}" alt="Blocked hallway" usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="up" alt="caution sign" title="Second floor exit" href="javascript:void(0)" onclick="showObstacle()"
            coords="365,3776,858,3763,850,3590,2719,3629,2714,2589,2671,453,434,499,417,432" shape="poly">
        <area target="_self" class="down" alt="floor" title="Back" href="{{ url_for('thirteen') }}" coords="28,4032,3008,3755" shape="rect">
    </map>
    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        dialogue = ["There's an exit at the end of this hall!"];

        function showObstacle() {
            let newSentences = ["Unfortunately, you cannot go that way as you might slip and fall on the carpet",
                "Try looking at Jittery Joe's again."
            ];
            addDialogue(newSentences);
        }

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>