<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/14-r.png') }}" alt="ALT-TEXT" usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="pointer" alt="Bulletin Board" title="Bulletin Board" href="javascript:void(0)" onclick="showBulletin()"
            coords="959,491,5388,3475" shape="rect">
        <area target="_self" class="down" alt="Wall" title="Back" href="{{ url_for('fourteen') }}" coords="19,24,5704,382" shape="rect">
        <area target="_self" class="down" alt="Wall" title="Back" href="{{ url_for('fourteen') }}" coords="19,435,827,3459" shape="rect">
        <area target="_self" class="down" alt="Wall" title="Back" href="{{ url_for('fourteen') }}" coords="5452,409,5678,3499" shape="rect">
    </map>
    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        dialogue = ["The bulletin board has a lot of cool events listed."];

        function showBulletin() {
            checkedBulletinBoard = true;
            let newSentences = ["Painting without puppies at 7:30pm Poultry Science 014",
                "Summoning Circle 3:00am at Driftmier Woods",
                "Computer Science Mass Exam at 8:00am MLC 350",
                "Huh? Now that you think of it, your professor said the exam wasn't going to be in your usual lecture classroom.",
                "Your exam was in MLC all along!",
                "You don't get to think about it before you're shoved into the elevator by a janitorial cleaning device."
            ];
            addDialogue(newSentences);
        }

        let handler = {
            set(target, property, value, receiver) {
                if (property == "dialogueIndex" && dialogue[value] == "Computer Science Mass Exam at 8:00am MLC 350") {
                    textBox.classList.add("important");
                    localStorage.setItem("checkedBulletin", true);
                } else if (property == "textIndex" &&
                    dialogue[target.dialogueIndex] == "You don't get to think about it before you're shoved into the elevator by a janitorial cleaning device."
                    && value == dialogue[target.dialogueIndex].length
                ) {
                    setTimeout(() => {
                        window.location.href = "{{ url_for('fourteen_a') }}";
                    }, 3000)
                } else if (dialogue[target.dialogueIndex] != "Computer Science Mass Exam at 8:00am MLC 350") {
                    textBox.classList.remove("important");
                }
                return target[property] = value;
            }
        };

        function setup() {
            proxy = new Proxy(textProps, handler);
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>