<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/14.png') }}" alt="Entrance to elevator waiting area"
        usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="pointer" alt="Bulletin Board" title="Bulletin Board" href="{{ url_for('fourteen_right') }}"
            coords="4702,1097,5683,901,5625,2052,4661,1974,4669,1790" shape="poly">
        <area target="_self" class="down" alt="elevator" title="Elevator" href="{{ url_for('fourteen_a') }}" coords="1262,929,2128,2613" shape="rect">
        <area target="_self" class="down" alt="elevator" title="Elevator" href="{{ url_for('fourteen_a') }}" coords="3117,993,3819,2554" shape="rect">
    </map>
    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        dialogue = ["The cleaning device(?) left!",
            "It was about time for it to actually go clean something."
        ];

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>