<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/15-b.png') }}" alt="ALT-TEXT" usemap="#image-map">

    <map name="image-map">
        <area target="_self" alt="WEPA Printer" title="WEPA Printer" href="javascript:void(0)" onclick="startPuzzle()" coords="126,71,533,433" shape="rect">    
    </map>
    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        console.log(status.checkedBulletinBoard);

            dialogue = ["After freeing yourself from the elevator, you made your way to the exam room.",
                "Unfortunately, a WEPA Printer is blocking your path."
            ];

        function startPuzzle() {
            let newSentences = ["This would have a popup with the questions",
                "At the end, there would be dialogue from the wepa or something",
                "For now, we'll redirect you to 17-alt"
            ];
            addDialogue(newSentences);
        }

        let handler = {
            set(target, property, value, receiver) {
                if (property == "textIndex" &&
                    dialogue[target.dialogueIndex] == "For now, we'll redirect you to 17-alt"
                    && value == dialogue[target.dialogueIndex].length
                ) {
                    setTimeout(() => {
                        window.location.href = "{{ url_for('seventeen_alt') }}";
                    }, 2500)
                }
                return target[property] = value;
            }
        };

        function setup() {
            proxy = new Proxy(textProps, handler);
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>