<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/15-l.png') }}" alt="Hallway to MLC main exit" usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="pointer" href="{{ url_for('sixteen') }}" title="Main exit" coords="842,1617,3704,3693" shape="rect">
    </map>
    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        dialogue = ["If the side exits are blocked, then hopefully the main exit is not."];

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>