<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/15-r.png') }}"
        alt="An image of a janitorial device blocking an exit" usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="pointer" title="Floor Scrubber" href="javascript:void(0)" onclick="showObstacle()" coords="668,416,1,1" shape="rect">
        <area target="_self" class="down" title="Hallway to main exit" href="{{ url_for('fifteen_left') }}" coords="1,444,668,498" shape="rect">
        <div id="textbox"></div>

        <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
        <script src="{{ url_for('static', filename='script.js') }}"> </script>
        <script>
            imageMapResize();

            dialogue = ["You would be able to exit, but a floor scrubber is blocking you.",
                "You would think they would have somewhere to clean."
            ];

            function showObstacle() {
                let newSentences = ["'I won't even bother trying to go around that.'",
                    "Main exit it is."
                ];
                addDialogue(newSentences);
            }

            function setup() {
                proxy = new Proxy(textProps, handler);
                proxy.dialogueIndex = -1;
                proxy.textIndex = 0;
                handleTextbox();
            }

            window.onload = setup;
        </script>
</body>

</html>