<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/17-alt.png') }}" alt="Hallway to Exam Room" usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="right" title="Exam room" href="{{ url_for('eighteen_alt') }}"
            coords="3694,983,4300,2642" shape="rect">
    </map>
    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        console.log(status.checkedBulletinBoard);

        dialogue = ["You beat the AI!",
            "All you have to do is walk through the exam room doors."
        ];

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>