<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>

    <img src="{{ url_for('static', filename='images/5-rr.png') }}" usemap="#image-map">

    <map name="image-map">
        <area target="_self" class="pointer" alt="Digital Media Lab Door" title="Digital Media Lab Door" href="javascript:void(0)" coords="1498,508,2924,3639" shape="rect">
        <area target="_self" class="pointer" alt="Fire Exit Door" title="Fire Exit Door" href="javascript:void(0)" coords="3493,556,5183,3607" shape="rect">
        <area target="_self" class="down" alt="AL_VR Front" title="AL_VR Front" href="{{ url_for('five_right_left') }}" coords="16,3756,5055,4276" shape="rect">
        <area target="_self" class="right" alt="Back" title="Back" href="{{ url_for('five_right') }}" coords="5295,14,5688,4266" shape="rect">
    </map>
    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <!-- <script src="js/imageMapResizer.min.js"> </script> -->
    <script>
        imageMapResize();
        // To add:
        // - dialogue
    </script>

</body>

</html>