<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartScapes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='images/9.png') }}" alt="Second floor west wing" usemap="#image-map">
    
    <map name="image-map">
        <area target="_self" class="pointer" alt="Study area" title="Study area" href="javascript:void(0)" onclick="showStudy()" coords="2350,1922,48,791" shape="rect">
        <area target="_self" class="right" alt="10" title="Hallway" href="{{ url_for('ten') }}" coords="4023,3021,2667,2011,2650,759,3256,27,4017,21" shape="poly">
    </map>

    <div id="textbox"></div>

    <script src="{{ url_for('static', filename='imageMapResizer.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='script.js') }}"> </script>
    <script>
        imageMapResize();

        dialogue = ["The Jittery Joe's should be on the other side of this floor."];

        function showStudy() {
            let newSentences = ["You've already done enough studying; You have an exam to get to.",
            "The Jittery Joe's should be on your right"
            ];
            addDialogue(newSentences);
        }

        function setup() {
            proxy = proxyText;
            proxy.dialogueIndex = -1;
            proxy.textIndex = 0;
            handleTextbox();
        }

        window.onload = setup;
    </script>
</body>

</html>